@page
@model studentexpat.com.Pages.admin.students.DeleteModel

<h3>Are you sure you want to delete this?</h3>
<div>
    <h1>Students</h1>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Students.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Students.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Students.Lastname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Students.Lastname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Students.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Students.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Students.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Students.Phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Students.Nationality)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nationality.Nationality1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Students.CurrentStudent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Students.CurrentStudent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Students.TotalTuition)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Students.TotalTuition)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Students.TotalCommision)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Students.TotalCommision)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Students.FollowUp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Students.FollowUp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Students.LastEnrollment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Students.LastEnrollment)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Students.Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
