@page
@model studentexpat.com.Pages.admin.agreements.IndexModel

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Agreements[0].Agreement)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Agreements[0].SignedOn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Agreements[0].Attachment)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Agreements[0].Warnings)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Agreements[0].Comments)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Agreements[0].FollowUp)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Agreements[0].School)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Agreements) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Agreement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SignedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attachment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Warnings)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FollowUp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.School.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
